<h1>People</h1>
<br />
<table class="sorted">
  <tr>
    <th><%= sortable "fname", "Name"  %></th>
    <th><%= sortable "lname", "Surname" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr class = "grey">    
    <td><a href="/people/<%= person.id %>"><%= person.fname %></a></td>
    <td><a href="/people/<%= person.id %>"><%= person.lname %></a></td>
    <td>Phone</td>
    <td></td>
    <td><%= button_to 'Show', person, :method => :get %></td>
    <td><%= button_to 'Edit', edit_person_path(person), :method => :get %></td>
    <td><%= button_to 'Delete', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% for phone in person.phones %>
  <tr class = "white">
    <td></td>
    <td></td>
    <td><%= phone.number %></td>
    <td><%= phone.location.location %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= button_to 'New Person', new_person_path, :method => :get %><br />

