<%= nested_form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :street_1 %><br />
    <%= f.text_field :street_1 %>
  </div>
  <div class="field">
    <%= f.label :street_2 %><br />
    <%= f.text_field :street_2 %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :suburb_id %><br />
    <%= f.text_field :suburb_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
