<%= f.label :state %><br />
<%= f.text_field :state %><br />
<%= f.text_field :state_long %>
<%= f.link_to_remove "Remove" %>


<%= f.fields_for :suburbs %>
<p><%= f.link_to_add "Add a Suburb", :suburbs %></p>
