<h1>Countries</h1>
<br />
<table>
  <tr>
    <th>Code</th>
    <th>Country</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @countries.each do |country| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= country.country %></td>
    <td><%= country.country_long %></td>
    <td><%= link_to 'Show', country %></td>
    <td><%= link_to 'Edit', edit_country_path(country) %></td>
    <td><%= link_to 'Destroy', country, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Country', new_country_path, :method => :get %><br />
