<p id="notice"><%= notice %></p>

<p>
  <b>Country:</b>
  <%= @country.country %>
</p>

<p>
  <b>Country long:</b>
  <%= @country.country_long %>
</p>


<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
